# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Database
*.db

# Environment
.env
.env.local

# Node
node_modules/
dist/
.npm-cache/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log
